
*{
    box-sizing: border-box; 
}

body{
    color: white;
    background: rgb(180, 161, 134);
    background: radial-gradient(circle,rgba(180,161,134,1)0%,rgba(17,17,17,1)100%);
    font-family: sans-serif;
}
h1{
    display: flex;
    justify-content: center;
}
header{
    color: white;
  font-size: x-large;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#buttons{
    display: flex;
    justify-content: space-around;
}
 