*{
/* *, ::after, ::before { */
    box-sizing: border-box; 
    font-family: fantasy;
}
.collapsenavbar-collapse {
    display: flex;
    justify-content: flex-end;
}

nav {
    height: 10vh;
}

#page {
    height: 90vh
}

header{
    display:flex;
    justify-content: center;
    color: white;
    background-color:#00AFB5;
}


#recomendationdiv{
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color:white;
    background-color:#00AFB5;
    height:500px;

}
#searchForm{
    color: white;
    background-color:#00AFB5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    color: white;
    background-color: #77625C;
    display: flex;
    justify-content: center;
    height: 7%
}

img{
    display: flex;
}