*{
    box-sizing: border-box;
    font-family: sans-serif;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav li a {
    text-decoration: none;
    color:rgb(253, 253, 253);
  }
  
  nav li a:hover {
    color: #00afb5;;
  }

h1{
  display: flex;
  justify-content: center;
  color: white;
}
  main{
  display: flex;
  flex-direction: column;
}
#page{
  color: white;
  background: rgb(180, 161, 134);
  background: radial-gradient(circle,rgba(180,161,134,1)0%,rgba(17,17,17,1)100%);
}
#searchForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
}

  #container{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: min-content;
  }

  footer{
    margin-top:3%;
    display: flex;
    justify-content: center;
  }